[submodule "personal"]
	path = personal
	url = git@github.com:damianlewis/dotfiles-config.git
[submodule "themes/spaceship"]
	path = themes/spaceship
	url = git@github.com:spaceship-prompt/spaceship-prompt.git
